body {
  margin: 0;
}
a {
  text-decoration: none;
}
.mobile-header {
  display: none;
  color: red;
}
.computer-header {
  background: #34302d;
  border-top: 4px solid #6db23f;
  justify-content: space-between;
  padding: 0 20% 0 20%;
  display: flex;
  flex-direction: row;
}
.computer-header_left-part__logo-container__img {
  width: 224px;
  height: 46px;
}
.computer-header_right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.computer-header_right-part .nav {
  color: white;
  font-family: varela round, sans-serif;
  padding: 0px 7px 0px 7px;
}
.computer-header_right-part .search-btn {
  width: 25px;
  height: 25px;
  background: #34302d;
  padding-top: 5px;
}
