body {
  margin: 0;
  background: #f1f1f1;
}
input {
  outline: none;
}
@style : varela round,sans-serif;
@padding :0 10% 0 10%;
@transition: 500ms;
a {
  text-decoration: none;
  color: white;
}
// elements Style
.mobile-header {
  height: 50px;
  button {
    background: #34302d;
    border: none;
    position: absolute;
    left: 0px;
    top: 12px;
  }
  .mobileSearchBar {
    background: black;
    color: white;
    height: 100%;
    position: absolute;
    left: -270px;
    width: 270px;
    transition: @transition;
    &__nav {
      line-height: 50px;
    }
    &__input {
      border: none;
      line-height: 50px;
      &__field {
        width: 80%;
        position: relative;
        left:8%;
        height: 30px;
        font-size: 100%;
      }
    }
    &_active {
      left: 0px;
    }
  }
  display: none;
  background: #34302d;
  @media (max-width: 1000px) {
    display: flex;
    justify-content: center;
  }
  @media (max-width: 600px) {
    display: flex;
    justify-content: center;
  }
  &__logo {
  }
  .btn-mobile {
    transition: @transition;
    outline: none;
    &_active {
      left: 270px;
    }
  }
  .mobile-header-logo {
    transition: @transition;
    &_active {
      left: 540px;
      position: absolute;
    }
  }
}
.computer-header {
  //position: absolute;
  height: 50px;
  background: #34302d;
  border-top: 4px solid #6db23f;
  justify-content: space-between;
  padding: @padding;
  display: flex;
  flex-direction: row;
  @media (max-width: 1000px) {
    display: none;
  }
  @media (max-width: 600px) {
    display: none;
  }
  &_left-part {
    &__logo-container {
      &__img {
        width: 224px;
        height: 46px;
      }
    }
  }
  &_right-part {
    display: flex;
    flex-direction: row;
    align-items: center;
    .nav {
      line-height: 54px;
      font-family: @style;
      padding: 0px 7px 0px 7px;
      &_btn {
        line-height: 54px;
        position: relative;
        top: 8px;
      }
    }

    .nav:hover {
      background: #6db23f;
    }
    .search-btn {
      width: 25px;
      height: 25px;
      background: #34302d;
      padding-top: 5px;
    }
  }
}
.search-field {
  height: 50px;
  position: relative;
  top: -104px;
  &_active {
    top: 0px;
  }
  &__search {
    transition: 1s;
    height: 100%;
    width: 100%;
    border: none;
    padding: @padding;
    background-color: white;
    @media (max-width: 1000px) {
      display: none;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }
}
.main {
  padding: @padding;
  font-family: @style;
  .projectCardsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    &__img_sizes {
      width: 80px;
      height: 80px;
    }
    &__EachCard {
      display: flex;
      border: 1px solid gray;
      flex-direction: column;
      align-items: center;
      width: 30%;
      margin-bottom: 15px;
      @media (max-width: 1000px) {
        width: 45%;
      }
      @media (max-width: 600px) {
        width: 100%;
      }

      &__descripion {
        text-align: center;
        padding-bottom: 30px;
      }
      &__title {
        text-align: center;
        font-weight: 700;
      }
    }
  }
}
