body {
  margin: 0;
  background: #f1f1f1;
}
input {
  outline: none;
}
a {
  text-decoration: none;
  color: white;
}
.mobile-header {
  height: 50px;
  display: none;
  background: #34302d;
}
.mobile-header button {
  background: #34302d;
  border: none;
  position: absolute;
  left: 0px;
  top: 12px;
}
.mobile-header .mobileSearchBar {
  background: black;
  color: white;
  height: 100%;
  position: absolute;
  left: -270px;
  width: 270px;
  transition: 500ms;
}
.mobile-header .mobileSearchBar__nav {
  line-height: 50px;
}
.mobile-header .mobileSearchBar__input {
  border: none;
  line-height: 50px;
}
.mobile-header .mobileSearchBar__input__field {
  width: 80%;
  position: relative;
  left: 8%;
  height: 30px;
  font-size: 100%;
}
.mobile-header .mobileSearchBar_active {
  left: 0px;
}
@media (max-width: 1000px) {
  .mobile-header {
    display: flex;
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .mobile-header {
    display: flex;
    justify-content: center;
  }
}
.mobile-header .btn-mobile {
  transition: 500ms;
  outline: none;
}
.mobile-header .btn-mobile_active {
  left: 270px;
}
.mobile-header .mobile-header-logo {
  transition: 500ms;
}
.mobile-header .mobile-header-logo_active {
  left: 540px;
  position: absolute;
}
.computer-header {
  height: 50px;
  background: #34302d;
  border-top: 4px solid #6db23f;
  justify-content: space-between;
  padding: 0 10% 0 10%;
  display: flex;
  flex-direction: row;
}
@media (max-width: 1000px) {
  .computer-header {
    display: none;
  }
}
@media (max-width: 600px) {
  .computer-header {
    display: none;
  }
}
.computer-header_left-part__logo-container__img {
  width: 224px;
  height: 46px;
}
.computer-header_right-part {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.computer-header_right-part .nav {
  line-height: 54px;
  font-family: varela round, sans-serif;
  padding: 0px 7px 0px 7px;
}
.computer-header_right-part .nav_btn {
  line-height: 54px;
  position: relative;
  top: 8px;
}
.computer-header_right-part .nav:hover {
  background: #6db23f;
}
.computer-header_right-part .search-btn {
  width: 25px;
  height: 25px;
  background: #34302d;
  padding-top: 5px;
}
.search-field {
  height: 50px;
  position: relative;
  top: -104px;
}
.search-field_active {
  top: 0px;
}
.search-field__search {
  transition: 1s;
  height: 100%;
  width: 100%;
  border: none;
  padding: 0 10% 0 10%;
  background-color: white;
}
@media (max-width: 1000px) {
  .search-field__search {
    display: none;
  }
}
@media (max-width: 600px) {
  .search-field__search {
    display: none;
  }
}
.main {
  padding: 0 10% 0 10%;
  font-family: varela round, sans-serif;
}
.main .projectCardsContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.main .projectCardsContainer__img_sizes {
  width: 80px;
  height: 80px;
}
.main .projectCardsContainer__EachCard {
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
  align-items: center;
  width: 30%;
  margin-bottom: 15px;
}
@media (max-width: 1000px) {
  .main .projectCardsContainer__EachCard {
    width: 45%;
  }
}
@media (max-width: 600px) {
  .main .projectCardsContainer__EachCard {
    width: 100%;
  }
}
.main .projectCardsContainer__EachCard__descripion {
  text-align: center;
  padding-bottom: 30px;
}
.main .projectCardsContainer__EachCard__title {
  text-align: center;
  font-weight: 700;
}
